<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
      <Title>Curly Braces</Title>
      <Author>Daniel Berghold</Author>
      <Description>Inserts curly braces.</Description>
      <HelpUrl>
      </HelpUrl>
      <Shortcut>b</Shortcut>
    </Header>
    <Snippet>
      <Code Language="csharp"><![CDATA[{
         $end$
      }]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>